[submodule "verilator/master"]
	path = verilator/master
	url = https://github.com/planvtech/verilator.git
	branch = master
[submodule "verilator/Support_dyn-arr_and_union_from_version_5.026"]
	path = verilator/Support_dyn-arr_and_union_from_version_5.026
	url = https://github.com/planvtech/verilator.git
	branch = Support_dyn-arr_and_union_from_version_5.026
[submodule "verilator/Support_if-else_constraint_different_from_#5245"]
	path = "verilator/Support_if-else_constraint_different_from_#5245"
	url = https://github.com/planvtech/verilator.git
	branch = "Support_if-else_constraint_different_from_#5245"
